<!doctype html>
<html lang="en">
  <head>
    <title>Disponibilité et Réservation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reserver /title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--Script-->
    <script src="static/jquery.js"></script>
    <script src="static/jquery-ui.js"></script>
    <script src="static/script.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-1" id="top">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="/">Modifier la recherche</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Business Name Here</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
          </div>
        </div>
      </header>

    <section class="jumbotron text-center bg-light pb-5">
      <div class="flash">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-unstyled text-center">
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
          {% endif %}
        {% endwith %}
      </div>
      <h2>{{nickname}}</h2>
      <h4>Les dates selectionnés sont disponibles.</h4>
      <p>{{fromDate}} au {{toDate}}<p>
      <p>Prix moyen par nuit: {{"%.2f" % avgNight}}$</p>
      <p>Sous-Total: {{"%.2f" % subTotal}}$</p>
      <!--<button type="button" name="reserver" class="btn-primary btn mt-2">Réserver</button>-->
      <form action="{{ url_for('pay', stripeSubTotal=stripeSubTotal)}}" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_gQRV3GY6b5U8JWDUscP9QKUT"
          data-amount="{{ stripeSubTotal }}"
          data-name="Séjour de rêve"
          data-description="Example charge"
          data-locale="fr"
          data-label="Payer par carte"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-zip-code="true">
        </script>
    </form>
    </section>

    <footer class="blog-footer">
      <p>DreaminGetAway</p>
      <p><a href="#top">Back to top</a></p>
    </footer>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
  </html>