<!doctype html>
<html lang="en">
  <head>
    <title>Disponibilité et Réservation - Séjour de Rêve</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--Script-->
    <script src="static/jquery.js"></script>
    <script src="static/jquery-ui.js"></script>
    <script src="static/script.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-1" id="top">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="/">Nouvelle recherche</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Séjour de Rêve</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
          </div>
        </div>
      </header>
      <div class="jumbotron p-10 md-1 text-white text-center bg-dark">
          <h1>Merci pour votre paiement</h1>
      </div>
      <div class="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-unstyled text-center">
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
          {% endif %}
        {% endwith %}
      </div>

      <footer class="blog-footer">
        <p>DreaminGetAway</p>
        <p><a href="#top">Back to top</a></p>
      </footer>
    </div>